NOTION_API_KEY=your_notion_api_key
NOTION_DATABASE_ID=your_notion_database_id
GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=your_google_spreadsheet_id
GOOGLE_SHEETS_SHEET_NAME=your_sheet_name
